<br /><br />
                                    <table class="rwd-table">
                                        <tbody><tr>
                                        <th>Characteristic</th>
                                        <th>Value</th>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">First registration</td>
                                        <td data-th="Value">19/08/2016</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Mileage (in km)</td>
                                        <td data-th="Value">189.304 km</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Fuel type</td>
                                        <td data-th="Value">Diesel</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Transmission type</td>
                                        <td data-th="Value">Manual gearbox</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">CO2 emission standard</td>
                                        <td data-th="Value">EU6</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">CO2 emission (minimum value)</td>
                                        <td data-th="Value">99 g/km</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Power</td>
                                        <td data-th="Value">110 kW (150 Hp)</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Engine size</td>
                                        <td data-th="Value">1.968 cc</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Body type</td>
                                        <td data-th="Value">Berline</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Doors</td>
                                        <td data-th="Value">5</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Number of places</td>
                                        <td data-th="Value">5</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">VIN</td>
                                        <td data-th="Value">WAUZZZF48HN027499</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">VIN (short)</td>
                                        <td data-th="Value">027499</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Number of keys</td>
                                        <td data-th="Value">2</td>
                                        </tr>
                                        <tr>
                                        <td data-th="Characteristic">Paint</td>
                                        <td data-th="Value">Black</td>
                                        </tr>
                                        </tbody></table>
                                    <br /><br />