<!--Carousel Wrapper-->
<div id="TODO_ID" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
	<!--Indicators-->
	<ol class="carousel-indicators">
TODO_NEW_ITEM
	</ol>
	<!--/.Indicators-->
	<!--Slides-->
	<div class="carousel-inner" role="listbox">
TODO_IMAGES
	</div>
	<!--/.Slides-->
	<!--Controls-->
	<a class="carousel-control-prev" href="#TODO_ID" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#TODO_ID" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
	<!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->